/.idea
**/.claude/settings.local.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
.pubspec.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Android related
/android/app/debug
/android/app/profile
/android/app/release
local.properties

# Generated plugin files
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
